body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #26e23f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #24325FFF, #69C8ECFF);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
}
h1 {
    font-size: 2.5em;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #282c34;
    border: 2px solid #096415;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #096415;
    color: #282c34;
}